.header {
  @include flex;
  position: relative;
  min-height: 30vh;
  background-color: $color-green;
  width: 100vw;

  @include respond(tab-port) {
    min-height: 30vh;
  }

  @include respond(phone) {
    min-height: 22rem;
  }
}
