.nav {
  @include flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba($color-dark, 0.7);
  height: 5rem;
  z-index: 99;

  &__logo {
    height: 70%;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
  }

  &__item {
    color: $color-light;
  }
}
