// THEME COLORS

$color-green: #28e4ab;
$color-green-2: #17aa61;
$color-green-3: #24ce9b;
$color-platinum: #e9e7ee;

// $color-green: #bbdbb4;

// $color-green: #8bbf9f;

// COLORS

$color-black: #000000;
$color-dark: #0b0b16;

$color-light: #e7e7e7;
$color-lighter: #fdfdfd;
$color-gray: #9a9a9a;
$color-gray-2: #585d59;

$color-white: #ffffff;

// FONT
$default-font-size: 1.6rem;

$gradient-green: linear-gradient(to left, $color-green-2, $color-green);
