.page-transition-enter {
  opacity: 0;
  transform: translateX(-100vw);
}
.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms;
}
.page-transition-exit {
  opacity: 1;
  transform: translateX(0);
}
.page-transition-exit-active {
  opacity: 0;
  transform: translateX(100vw);
  transition: all 300ms;
}
